
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Quiz-Users</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
     <link href="~/customer/css/styles.css" rel="stylesheet" /> 
   
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/User/UserExam/Index">Quize.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/User/UserExam/Index">Home</a></li>
                    @* <li class="nav-item"><a class="nav-link" href="#!">About</a></li> *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("User"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="">Setting List</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="/User/UserExam/Index">Exams</a></li>
                                    <li><a class="dropdown-item" href="">Profile Settings</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Admin/Exam/Index">Dashboard</a></li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="">Setting List</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="/Identity/Account/Register">Create User</a></li>
                                    <li><a class="dropdown-item" href="">Profile Settings</a></li>
                                </ul>
                            </li>

                        }
                    }
                </ul>
                <partial name="_LoginPartial"></partial>
               
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5" id="bgimage">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h4 class="display-4 fw-bolder text-white">Welcome To Quiz.com</h4>
                <p class="lead fw-normal text-white-50 mb-0">You Can Get Your Online Exam</p>
            </div>
        </div>
    </header>
   

    @RenderBody();
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
     <script src="~/customer/js/scripts.js"></script> 

    @*all Layout must ended by it *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
