@{
   // ViewBag.PageTitle = "Exam Management";
    //ViewBag.CardTitle = "Exams List";
    // Layout = "~/Views/Shared/_Dashboard.cshtml";
    //  after add these ( Layout = "_Dashboard";) in _ViewStart  , i will be not need to add these(Layout = "~/Views/Shared/_Dashboard.cshtml";) in all admin views

}

@* <h1>Hello</h1>@model IEnumerable<OnlineExamSystem.Core.Entities.Exam> *@

<h2>Exams</h2>

<div>
    <a asp-action="CreateExam" class="btn btn-primary">Create New Exam</a>
</div>
<br />
<table class="table table-hover" width="100%" id="mytable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    
</table>

@section Scripts {
    <script src="~/exam/exam.js"></script>
}