@{
   ViewBag.PageTitle = "Exam Management";
   ViewBag.CardTitle = "Exams List";
    
}




<div>
    <a asp-action="CreateExam" class="btn btn-primary">Create New Exam</a>
</div>
<br />
<table class="table table-hover" width="100%" id="mytable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    
</table>

@section Scripts {
    <script src="~/exam/exam.js"></script>
}